{
  "sourceMaps": true,
  "presets": [
    ["es2015", {"modules": false}],
    "stage-3"
  ],
  "plugins": [
    ["transform-es2015-modules-commonjs"],
    ["transform-decorators-legacy"],
    ["transform-react-jsx", {"pragma": "h"}]
  ]
}
