{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "IE >= 9"]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {"pragma": "h"}],
    ["@babel/plugin-proposal-object-rest-spread"],
    ["transform-react-remove-prop-types"],
    ["module:fast-async", {"spec": true}]
  ]
}
